<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Edit Property Picture</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">  
    <%= link_to 'Show', @property_picture %> |
    <%= link_to 'Back', property_pictures_path %>
  </div>
</div>