<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Edit Property</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'edit_form' %>
  </div>
  <div class="panel-footer">  
    <%= link_to 'Show', @property %> |
    <%= link_to 'Back', properties_path %>
  </div>
</div>